In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in g:\damp\anaconda\lib\site-packages (5.2.0)

In [2]:
import pandas as pd
import numpy as np
import pyodbc

In [3]:
Server="DESKTOP-ON9Q5KQ\SQLEXPRESS"
database="Project_2"
Connection_string=(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={Server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
)
con=pyodbc.connect(Connection_string)
query= "select * from olist_customers_dataset"
customers=pd.read_sql(query,con)
customers.head()

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\1027562587.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers=pd.read_sql(query,con)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP
1,000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,35550,itapecerica,MG
2,0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,29830,nova venecia,ES
3,0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,39664,mendonca,MG
4,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP

In [5]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
customers.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [9]:
customers.sample(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
24700,3fa60642dafff211589344025adaf9a8,b22cf21840e60934c4df94ce2b42d7a1,89010,Blumenau,SC
94478,f2c2929ca63895910ff61424f0bc86f6,c09ad1f436009e3ef04db880abc5055f,89540,Santa Cecilia,SC
42282,6d65c6aab9e10cf1c8116fcc72721267,541f0b6d642031e24c524e6718431b28,4040,Sao Paulo,SP
31272,50a6b9bf2be166cbccc5b039176833bb,603cefd1ec4a18c001bab386bdae59f2,6435,Barueri,SP
23831,3d5558638c7f0b8edb724897e16c8d54,77b4c81df605efa4363be0e4ef1aef28,89295,Rio Negrinho,SC
71136,b69f6635e14cc5819197458ea479017d,f8b71035443a05f1089f98519e97b63e,20551,Rio De Janeiro,RJ
4916,0cbd2df3d6e9d8b1eaf5cfefc44886bc,1de8fb735d8252498d9a2f82a68c57e0,9411,Ribeirao Pires,SP
15902,28e769bf73caf3dc734588072640486c,622db09504308011ed01e179e89d0925,45400,Valenca,BA
22979,3b0b34191384cc53acb9197de6d8f3a4,e53821a413d5b137cd9005b41f09dfe0,6083,Osasco,SP
40403,68826add3a4d18abf0232aa3b00cb2e0,bd547196655b3e60326eea13cf1e37d2,85980,Guaira,PR

In [4]:
customers["customer_city"]=customers["customer_city"].str.title()

In [29]:
customers.duplicated().sum()

np.int64(0)

In [30]:
customers["customer_city"].nunique()

4119

In [12]:
customers["customer_unique_id"].nunique()

96096

In [13]:
customers["customer_id"].nunique()

99441

In [15]:
sum(customers["customer_id"]==customers["customer_unique_id"])

0

In [5]:
from unidecode import unidecode
customers["customer_city"]= customers["customer_city"].apply(lambda x: unidecode(x))

In [35]:
def keep_only_text(x):
    if pd.isna(x):
        return x
    # remove everything except alphabets and spaces
    return re.sub(r"[^A-Za-z\s]", "", str(x)).strip()

In [14]:
import re
customers["customer_city"]=customers["customer_city"].apply(keep_only_text)

In [15]:
customers["customer_city"]

0                 Osasco
1            Itapecerica
2           Nova Venecia
3               Mendonca
4              Sao Paulo
              ...
99436             Parobe
99437     Rio De Janeiro
99438    Taboao Da Serra
99439            Alfenas
99440             Osasco
Name: customer_city, Length: 99441, dtype: object

## olist_geolocation_dataset

In [7]:
query="select * from olist_geolocation_dataset"
geo=pd.read_sql(query,con)

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\2146847023.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geo=pd.read_sql(query,con)

In [38]:
geo.duplicated().sum()

np.int64(262154)

In [8]:
geo.drop_duplicates(inplace=True)

In [40]:
geo.duplicated().sum()

np.int64(0)

In [9]:
pip install unidecode

Requirement already satisfied: unidecode in g:\damp\anaconda\lib\site-packages (1.3.8)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from unidecode import unidecode
geo["geolocation_city"]= geo["geolocation_city"].apply(lambda x: unidecode(x))

In [42]:
geo["geolocation_city"].nunique()

5969

In [43]:
geo["geolocation_city"]

0                sao paulo
1                sao paulo
2                sao paulo
3                sao paulo
4                sao paulo
                ...
1000155         agua santa
1000156           tapejara
1000157           tapejara
1000158           tapejara
1000161    david canabarro
Name: geolocation_city, Length: 738009, dtype: object

In [11]:
geo["geolocation_city"]=geo["geolocation_city"].str.title()

In [12]:
geo["geolocation_city"]

0                Sao Paulo
1                Sao Paulo
2                Sao Paulo
3                Sao Paulo
4                Sao Paulo
                ...
1000155         Agua Santa
1000156           Tapejara
1000157           Tapejara
1000158           Tapejara
1000161    David Canabarro
Name: geolocation_city, Length: 738009, dtype: object

In [9]:
def contains_number(x):
    return any(i.isdigit() for i in str(x))

In [14]:
geo[geo["geolocation_city"].apply(contains_number)]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state]
Index: []

In [11]:
import re
def remove_numbers(x):
    return re.sub(r'\d+','',str(x))

In [12]:
geo["geolocation_city"]=geo["geolocation_city"].apply(remove_numbers)

In [13]:
geo["geolocation_city"]

0                Sao Paulo
1                Sao Paulo
2                Sao Paulo
3                Sao Paulo
4                Sao Paulo
                ...
1000155         Agua Santa
1000156           Tapejara
1000157           Tapejara
1000158           Tapejara
1000161    David Canabarro
Name: geolocation_city, Length: 738009, dtype: object

In [15]:
geo["geolocation_city"]=geo["geolocation_city"].str.replace("'","",regex=False)

In [16]:
geo["geolocation_city"]=geo["geolocation_city"].str.replace("*","",regex=False)

In [17]:
geo["geolocation_city"]=geo["geolocation_city"].str.replace("...","",regex=False)

In [13]:
def keep_only_text(x):
    if pd.isna(x):
        return x
    # remove everything except alphabets and spaces
    return re.sub(r"[^A-Za-z\s]", "", str(x)).strip()

In [16]:
geo["geolocation_city"]=geo["geolocation_city"].apply(keep_only_text)

## olist_products_dataset

In [17]:
query ="select * from olist_products_dataset"
products= pd.read_sql(query, con)
products

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\2991295746.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products= pd.read_sql(query, con)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287,1,225,16,10,14
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276,1,1000,30,18,20
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250,1,154,18,9,15
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261,1,371,26,4,26
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402,4,625,20,17,13
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67,2,12300,40,40,40
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971,1,1700,16,19,16
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799,1,1400,27,7,27
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156,2,700,31,13,20
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309,1,2083,12,2,7

In [18]:
products.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [19]:
products.drop(columns=['product_name_lenght',
       'product_description_lenght', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'], inplace=True)

In [20]:
products

,product_id,product_category_name,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1
3,cef67bcfe19066a932b7673e239eb23d,bebes,1
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4
...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1

In [21]:
query="select * from product_category_name_translation"
products_name= pd.read_sql(query, con)
products_name

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\3427536269.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products_name= pd.read_sql(query, con)

            Product Category Name  Product Category Name English
0           product_category_name  product_category_name_english
1                    beleza_saude                  health_beauty
2          informatica_acessorios          computers_accessories
3                      automotivo                           auto
4                 cama_mesa_banho                 bed_bath_table
..                            ...                            ...
67                         flores                        flowers
68             artes_e_artesanato          arts_and_craftmanship
69                fraldas_higiene            diapers_and_hygiene
70  fashion_roupa_infanto_juvenil      fashion_childrens_clothes
71             seguros_e_servicos          security_and_services

[72 rows x 2 columns]

In [22]:
products_name.drop(index=0,inplace=True)

In [8]:
print(products_name["Product Category Name"].nunique())
print(products["product_category_name"].nunique())

71
73

In [9]:
products_name[~products_name["Product Category Name"].isin(products["product_category_name"])]["Product Category Name"].unique()

array([], dtype=object)

In [10]:
products[~products["product_category_name"].isin(products_name["Product Category Name"])]["product_category_name"].unique()

array([None, 'pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'],
      dtype=object)

In [11]:
products_name.sort_values(by="Product Category Name")["Product Category Name"].unique()

array(['agro_industria_e_comercio', 'alimentos', 'alimentos_bebidas',
       'artes', 'artes_e_artesanato', 'artigos_de_festas',
       'artigos_de_natal', 'audio', 'automotivo', 'bebes', 'bebidas',
       'beleza_saude', 'brinquedos', 'cama_mesa_banho', 'casa_conforto',
       'casa_conforto_2', 'casa_construcao', 'cds_dvds_musicais',
       'cine_foto', 'climatizacao', 'consoles_games',
       'construcao_ferramentas_construcao',
       'construcao_ferramentas_ferramentas',
       'construcao_ferramentas_iluminacao',
       'construcao_ferramentas_jardim',
       'construcao_ferramentas_seguranca', 'cool_stuff', 'dvds_blu_ray',
       'eletrodomesticos', 'eletrodomesticos_2', 'eletronicos',
       'eletroportateis', 'esporte_lazer', 'fashion_bolsas_e_acessorios',
       'fashion_calcados', 'fashion_esporte', 'fashion_roupa_feminina',
       'fashion_roupa_infanto_juvenil', 'fashion_roupa_masculina',
       'fashion_underwear_e_moda_praia', 'ferramentas_jardim', 'flores',
       'fraldas_higiene', 'industria_comercio_e_negocios',
       'informatica_acessorios', 'instrumentos_musicais', 'la_cuisine',
       'livros_importados', 'livros_interesse_geral', 'livros_tecnicos',
       'malas_acessorios', 'market_place', 'moveis_colchao_e_estofado',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'moveis_decoracao', 'moveis_escritorio', 'moveis_quarto',
       'moveis_sala', 'musica', 'papelaria', 'pcs', 'perfumaria',
       'pet_shop', 'portateis_casa_forno_e_cafe', 'relogios_presentes',
       'seguros_e_servicos', 'sinalizacao_e_seguranca',
       'tablets_impressao_imagem', 'telefonia', 'telefonia_fixa',
       'utilidades_domesticas'], dtype=object)

In [48]:
products_name[products_name["Product Category Name"]=="pcs"]

   Product Category Name Product Category Name English
54                   pcs                     computers

In [50]:
products_name[products_name["Product Category Name"]=="portateis_casa_forno_e_cafe"]

          Product Category Name          Product Category Name English
64  portateis_casa_forno_e_cafe  small_appliances_home_oven_and_coffee

In [23]:
products=pd.merge(products,products_name,left_on="product_category_name",right_on="Product Category Name",how="left")

In [52]:
products

,product_id,product_category_name,product_photos_qty,Product Category Name,Product Category Name English
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1,perfumaria,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1,artes,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1,esporte_lazer,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,1,bebes,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4,utilidades_domesticas,housewares
...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2,moveis_decoracao,furniture_decor
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1,construcao_ferramentas_iluminacao,construction_tools_lights
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1,cama_mesa_banho,bed_bath_table
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2,informatica_acessorios,computers_accessories
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1,cama_mesa_banho,bed_bath_table

In [24]:
products.loc[products["product_category_name"]=="pc_gamer","Product Category Name English"]="computers"
products.loc[products["product_category_name"]=="portateis_cozinha_e_preparadores_de_alimentos","Product Category Name English"]="small_appliances_home_oven_and_coffee"

In [25]:
products

,product_id,product_category_name,product_photos_qty,Product Category Name,Product Category Name English
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1,perfumaria,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1,artes,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1,esporte_lazer,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,1,bebes,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4,utilidades_domesticas,housewares
...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2,moveis_decoracao,furniture_decor
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1,construcao_ferramentas_iluminacao,construction_tools_lights
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1,cama_mesa_banho,bed_bath_table
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2,informatica_acessorios,computers_accessories
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1,cama_mesa_banho,bed_bath_table

In [26]:
products[products["product_category_name"]=="pc_gamer"]

,product_id,product_category_name,product_photos_qty,Product Category Name,Product Category Name English
1628,0105b5323d24fc655f73052694dbbb3a,pc_gamer,4,NaN,computers
7478,6727051471a0fc4a0e7737b57bff2549,pc_gamer,3,NaN,computers
16930,dbe520fb381ad695a7e1f2807d20c765,pc_gamer,6,NaN,computers

In [27]:
products["product_category_name"]=products["Product Category Name English"]

In [ ]:
products=products.drop(columns=["Product Category Name","Product Category Name English"])

In [30]:
products

,product_id,product_category_name,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,1
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,1
3,cef67bcfe19066a932b7673e239eb23d,baby,1
4,9dc1a7de274444849c219cff195d0b71,housewares,4
...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,2
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,1
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,1
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,2
32950,106392145fca363410d287a815be6de4,bed_bath_table,1

## olist_sellers_dataset.csv

In [31]:
query="select * from olist_sellers_dataset"
seller= pd.read_sql(query, con)
seller

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\3698057829.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  seller= pd.read_sql(query, con)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [32]:
seller["seller_city"]=seller["seller_city"].str.title()
seller

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,Campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,Mogi Guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,Rio De Janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,Sao Paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,Braganca Paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,Sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,Palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,Sao Paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,Pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,Taubate,SP

In [33]:
seller["seller_city"]=seller["seller_city"].apply(keep_only_text)
seller["seller_city"]

0                Campinas
1              Mogi Guacu
2          Rio De Janeiro
3               Sao Paulo
4       Braganca Paulista
              ...
3090              Sarandi
3091              Palhoca
3092            Sao Paulo
3093              Pelotas
3094              Taubate
Name: seller_city, Length: 3095, dtype: object

## olist_orders_dataset

In [100]:
query="select * from olist_orders_dataset"
orders=pd.read_sql(query,con)
orders

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\74991454.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders=pd.read_sql(query,con)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [94]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [102]:
orders=orders[((orders["order_approved_at"]-orders["order_purchase_timestamp"]).dt.total_seconds()/86400>0) &
((orders["order_delivered_customer_date"]-orders["order_approved_at"]).dt.days>0) 
]

In [104]:
to_remove=orders[(orders["order_status"]=="canceled")& (orders["order_delivered_customer_date"].notna())].index
orders=orders.drop(to_remove)
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99435,880675dff2150932f1601e1c07eadeeb,47cd45a6ac7b9fb16537df2ccffeb5ac,delivered,2017-02-23 09:05:12,2017-02-23 09:15:11,2017-03-01 10:22:52,2017-03-06 11:08:08,2017-03-22
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [105]:
orders["order_status"].unique()

array(['delivered'], dtype=object)

## olist_order_payments_dataset

In [106]:
query="select * from olist_order_payments_dataset"
payments=pd.read_sql(query,con)
payments

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\4130976363.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments=pd.read_sql(query,con)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.330002
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.389999
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.709999
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.779999
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.449997
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.309998
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.800003
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.770000
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.540009
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.580002

In [107]:
#payments.drop(columns=["payment_sequential","payment_installments"],inplace=True)
payments.drop(columns=["payment_sequential","payment_installments"], inplace=True)
payments

                                order_id payment_type  payment_value
0       b81ef226f3fe1789b1e8b2acac839d17  credit_card      99.330002
1       a9810da82917af2d9aefd1278f1dcfa0  credit_card      24.389999
2       25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card      65.709999
3       ba78997921bbcdc1373bb41e913ab953  credit_card     107.779999
4       42fdf880ba16b47b59251dd489d4441a  credit_card     128.449997
...                                  ...          ...            ...
103881  0406037ad97740d563a178ecc7a2075c       boleto     363.309998
103882  7b905861d7c825891d6347454ea7863f  credit_card      96.800003
103883  32609bbb3dd69b3c066a6860554a77bf  credit_card      47.770000
103884  b8b61059626efa996a60be9bb9320e10  credit_card     369.540009
103885  28bbae6599b09d39ca406b747b6632b1       boleto     191.580002

[103886 rows x 3 columns]

In [108]:
payments=payments.groupby(["order_id","payment_type"])["payment_value"].sum().reset_index()
payments

                                order_id payment_type  payment_value
0       00010242fe8c5a6d1ba2dd792cb16214  credit_card      72.190002
1       00018f77f2f0320c557190d7a144bdd3  credit_card     259.829987
2       000229ec398224ef6ca0657da4fc703e  credit_card     216.869995
3       00024acbcdf0a6daa1e931b038114c75  credit_card      25.780001
4       00042b26cf59d7ce69dfabb4e55b4fd9  credit_card     218.039993
...                                  ...          ...            ...
101681  fffc94f6ce00a00581880bf54a75a037       boleto     343.399994
101682  fffcd46ef2263f404302a634eb57f7eb       boleto     386.529999
101683  fffce4705a9662cd70adb13d4a31832d  credit_card     116.849998
101684  fffe18544ffabc95dfada21779c9644f  credit_card      64.709999
101685  fffe41c64501cc87c801fd61db3f6244  credit_card      55.790001

[101686 rows x 3 columns]

In [109]:
payments[payments["order_id"]=="fffe41c64501cc87c801fd61db3f6244"]

                                order_id payment_type  payment_value
101685  fffe41c64501cc87c801fd61db3f6244  credit_card      55.790001

In [41]:
print(orders["order_id"].nunique())
print(payments["order_id"].nunique())

94993
99440

In [42]:
orders[~orders["order_id"].isin(payments["order_id"])]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [43]:
payments[~payments["order_id"].isin(orders["order_id"])]["order_id"].nunique()

4447

In [28]:
query="select * from olist_orders_dataset"
orders=pd.read_sql(query,con)
df=orders.copy()
df

C:\Users\tc\AppData\Local\Temp\ipykernel_3884\83791840.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders=pd.read_sql(query,con)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [34]:
df[~df["order_id"].isin(orders["order_id"])]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaT,2017-05-09
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,2018-06-04 16:44:48,2018-06-05 04:31:18,2018-06-05 14:32:00,NaT,2018-06-28
58,a685d016c8a26f71a0bb67821070e398,911e4c37f5cafe1604fe6767034bf1ae,delivered,2017-03-13 18:14:36,2017-03-13 18:14:36,2017-03-22 14:03:09,2017-04-06 13:37:16,2017-03-30
64,688052146432ef8253587b930b01a06d,81e08b08e5ed4472008030d70327c71f,delivered,2018-04-22 08:48:13,2018-04-24 18:25:22,2018-04-23 19:19:14,2018-04-24 19:31:58,2018-05-15
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaT,NaT,2018-08-21
...,...,...,...,...,...,...,...,...
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,NaT,NaT,2018-02-06
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaT,NaT,NaT,2018-09-27
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaT,NaT,2017-09-15
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaT,NaT,2017-10-23
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28

In [110]:
orders=pd.merge(orders,payments,on="order_id",how="inner")
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,credit_card,18.120001
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,voucher,20.590000
2,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,boleto,141.460007
3,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,credit_card,179.119995
4,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,credit_card,72.199997
...,...,...,...,...,...,...,...,...,...,...
97136,880675dff2150932f1601e1c07eadeeb,47cd45a6ac7b9fb16537df2ccffeb5ac,delivered,2017-02-23 09:05:12,2017-02-23 09:15:11,2017-03-01 10:22:52,2017-03-06 11:08:08,2017-03-22,credit_card,155.990005
97137,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,credit_card,195.000000
97138,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,credit_card,271.010010
97139,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,credit_card,441.160004
97140,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,debit_card,86.860001

## olist_order_items_dataset

In [111]:
query ="select * from olist_order_items_dataset"
items= pd.read_sql(query, con)
items

C:\Users\tc\AppData\Local\Temp\ipykernel_6588\2450729032.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  items= pd.read_sql(query, con)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,4ced9870d4ae74e72958ff7d640fe303,1,4621f88827b983332c2a833d49c2ae35,a3f0b55de503387383c7b1de3ad7f678,2018-05-03 01:10:25,219.899994,69.360001
1,4ced9870d4ae74e72958ff7d640fe303,2,0160785b697a5ea87d52949bd097ce05,a3f0b55de503387383c7b1de3ad7f678,2018-05-03 01:10:25,208.899994,69.360001
2,4ceda92a516e1a970460bedc58d3431d,1,98a8c2fa16d7239c606640f5555768e4,001cca7ae9ae17fb1caed9dfb1094831,2017-11-01 21:35:20,110.000000,32.099998
3,4cf039bb3ac612eaf93de354f5da9cbe,1,e7cc48a9daff5436f63d3aad9426f28b,53243585a1d6dc2643021fd1853d8905,2018-08-03 16:55:23,170.000000,25.540001
4,4cf039bb3ac612eaf93de354f5da9cbe,2,e7cc48a9daff5436f63d3aad9426f28b,53243585a1d6dc2643021fd1853d8905,2018-08-03 16:55:23,170.000000,25.540001
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.989990,43.410000
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.000000,36.529999
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.900002,16.950001
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.990002,8.720000
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.000000,12.790000

In [46]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [112]:
orders=pd.merge(orders,items,on="order_id",how="inner")

In [113]:
orders=orders[(orders["shipping_limit_date"]> orders["order_purchase_timestamp"]) & 
(orders["shipping_limit_date"]> orders["order_approved_at"]) &
(orders["shipping_limit_date"]< orders["order_delivered_customer_date"])]

In [114]:
orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type', 'payment_value', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [115]:
orders[orders["order_id"]=="ab14fdcfbe524636d65ee38360e22ce8"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
104802,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,1,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104803,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,2,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104804,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,3,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104805,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,4,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104806,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,5,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104807,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,6,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104808,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,7,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104809,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,8,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104810,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,9,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104811,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,10,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104812,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,11,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104813,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,12,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104814,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,13,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104815,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,14,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104816,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,15,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104817,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,16,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104818,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,17,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104819,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,18,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104820,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,19,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44
104821,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,20,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,98.699997,14.44

In [117]:
orders=orders.groupby(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type', 'payment_value', 'product_id', 'seller_id',
       'shipping_limit_date']).agg(price=("price", "sum"),
                                   freight_value=("freight_value", "sum"),
                                   Quantity=("product_id","count")).reset_index()

In [118]:
orders["Quantity"].unique()

array([ 1,  2,  3,  4,  5,  6,  8, 20, 12, 13,  7, 15, 11, 14, 10,  9])

In [119]:
orders.sort_values(by="Quantity",ascending=False)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,product_id,seller_id,shipping_limit_date,price,freight_value,Quantity
8487,1b15974a0141d54e36626dca3fdc731a,be1b70680b9f9694d8c70f41fa3dc92b,delivered,2018-02-22 15:30:41,2018-02-24 03:20:27,2018-03-02 00:18:01,2018-03-05 15:22:27,2018-03-08,boleto,2202.399902,ee3d532c8a438679776d222e997606b3,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-01 02:50:48,2000.000000,202.399998,20
53422,ab14fdcfbe524636d65ee38360e22ce8,bd5d39761aa56689a265d95d8d32b8be,delivered,2017-08-23 09:22:34,2017-08-24 14:30:23,2017-08-25 20:07:36,2017-09-02 12:13:03,2017-09-21,credit_card,2262.800049,9571759451b1d780ee7c15012ea109d4,ce27a3cc3c8cc1ea79d11e561e9bebb6,2017-08-30 14:30:23,1973.999939,288.799992,20
49512,9ef13efd6949e4573a18964dd1bbe7f5,adb32467ecc74b53576d9d13a5a55891,delivered,2017-01-30 21:44:49,2017-01-30 22:33:45,2017-02-01 14:34:10,2017-02-14 10:48:10,2017-03-07,credit_card,783.000000,37eb69aca8718e843d897aa7b82f462d,0b36063d5818f81ccb94b54adfaebbf5,2017-02-03 21:44:49,765.000000,18.000001,15
20719,428a2f660dc84138d969ccd69a0ab6d5,10de381f8a8d23fff822753305f71cae,delivered,2017-11-23 20:30:52,2017-11-24 10:31:10,2017-11-28 16:42:21,2017-12-13 20:19:35,2017-12-19,credit_card,1225.650024,89b190a046022486c635022524a974a8,f326006815956455b2859abd58fe7e39,2017-11-30 10:30:51,982.349968,243.299990,15
48496,9bdc4d4c71aa1de4606060929dee888c,a7693fba2ff9583c78751f2b66ecab9d,delivered,2018-02-21 11:45:07,2018-02-22 11:48:42,2018-02-27 18:27:01,2018-03-01 20:47:01,2018-03-07,credit_card,528.780029,44a5d24dd383324a421569ca697b13c2,e7d5b006eb624f13074497221eb37807,2018-02-28 11:48:12,419.859997,108.920003,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80014,ffee31fb4b5e35c9123608015637c495,11e0f43ab4e2d2c48348dd9332c0ef80,delivered,2018-08-18 10:00:59,2018-08-18 10:10:11,2018-08-20 10:01:00,2018-08-21 12:18:57,2018-08-23,credit_card,112.519997,b10ecf8e33aaaea419a9fa860ea80fb5,0241d4d5d36f10f80c644447315af0bd,2018-08-21 10:10:11,99.000000,13.520000,1
80015,ffeeb911d070bea3dd20bd5fd01da5e8,c580ed6ed2fe3533df6af1dcb43bac94,delivered,2017-10-06 19:10:16,2017-10-06 19:25:54,2017-10-20 18:15:59,2017-10-25 18:17:06,2017-10-30,credit_card,95.690002,a5341e3f8155dbb3e62323d3ea289729,ff063b022a9a0aab91bad2c9088760b7,2017-10-13 19:25:54,79.500000,16.190001,1
80016,ffef98cd5ecdc992fefbd967549520dd,8219ed06f16d11e061ca521bbc175c17,delivered,2017-06-28 21:01:06,2017-06-30 03:15:21,2017-06-30 14:09:00,2017-07-14 16:19:41,2017-07-20,boleto,153.009995,11fd9d7ba552e1d28872e008acf1e050,cb8bcce248bb1fb274ba762d8b971456,2017-07-06 03:15:21,139.899994,13.110000,1
80017,ffef9e1de5dd07b397b373f9bb72cccf,f46860fe1b54585612e3fffdbf52e43a,delivered,2018-01-11 10:02:13,2018-01-11 10:14:27,2018-01-15 22:34:16,2018-02-06 01:05:12,2018-02-09,credit_card,115.500000,30ac6df06dc59ad72cf2f158fc2d904c,0dd184061fb0eaa7ca37932c68ab91c5,2018-01-17 10:14:27,94.000000,21.500000,1
80003,ffe5736050c2890fa51a28942820258a,bdb02eddf9e1223ae4fa0cbe08f89cbf,delivered,2018-03-18 14:25:04,2018-03-18 14:35:25,2018-03-28 19:29:49,2018-03-31 11:48:25,2018-04-16,credit_card,94.540001,3eef0cb94ba82de806bb30ab743c7655,7c67e1448b00f6e969d365cea6b010ab,2018-03-30 14:35:25,79.989998,14.550000,1

In [123]:
orders=pd.merge(orders,customers,on="customer_id",how="inner")
orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type', 'payment_value', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'Quantity',
       'customer_unique_id_x', 'customer_zip_code_prefix_x', 'customer_city_x',
       'customer_state_x', 'customer_unique_id_y',
       'customer_zip_code_prefix_y', 'customer_city_y', 'customer_state_y',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state'],
      dtype='object')

In [124]:
orders=orders.drop(columns="customer_unique_id")
orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type', 'payment_value', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'Quantity',
       'customer_unique_id_x', 'customer_zip_code_prefix_x', 'customer_city_x',
       'customer_state_x', 'customer_unique_id_y',
       'customer_zip_code_prefix_y', 'customer_city_y', 'customer_state_y',
       'customer_zip_code_prefix', 'customer_city', 'customer_state'],
      dtype='object')